<h1>Listing comics</h1>

<table>
  <tr>
    <th>Series</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comics.each do |comic| %>
  <tr>
    <td><%= comic.series %></td>
    <td><%= comic.sequence %></td>
    <td><%= image_tag comic.strip.url(:medium) %></td>
    <td><%= link_to 'Show', comic %></td>
  </tr>
<% end %>
</table>
