%ul#nav
  %li= link_to 'Cast', casts_path
  %li= link_to 'Comics', comics_path
  -#%li= link_to 'Cordyceps Tickles', portal_path, :locals => "CT"
  -#%li= link_to 'Shop', portal_path, :locals => "Shop"
  -#%li= link_to 'Blog',portal_path, :locals => "Blog"
